---
title: Algolia CSS API Client
---
= partial "partials/common/header.html"
= partial "partials/hero"
= partial "partials/main"
= partial "partials/common/footer"
= partial "partials/modal"

-# = link_to "Read Documentation", "https://middlemanapp.com/basics/templating_language/", target: "_blank"
