<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content=summary_large_image name='twitter:card'>
    <meta content='@algolia' name='twitter:site'>
    <meta content="Algolia's CSS API Client" name='twitter:title'>
    <meta content="Algolia's CSS API Client | All the power of search directly in your browser" name='twitter:description'>
    <meta content='https://res.cloudinary.com/hilnmyskv/image/upload/v1490867095/css-api-client-og.png' name='twitter:image:src'>
    <meta content='www.algolia.com' name='twitter:domain'>
    <meta content='/' property='og:url'>
    <meta content=Algolia property='og:site_name'>
    <meta content="Algolia's CSS API Client" property='og:title'>
    <meta content="Algolia's CSS API Client | All the power of search directly in your browser" property='og:description'>
    <meta content='https://res.cloudinary.com/hilnmyskv/image/upload/v1490867095/css-api-client-og.png' property='og:image'>
    <meta content=1200 property='og:image:width'>
    <meta content=500 property='og:image:height'>
    <link rel="icon" type="image/png" href="images/favicon.png" />


    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Algolia's CSS API Client" %></title>

    <%= stylesheet_link_tag "site" %>
  </head>

  <body class="<%= page_classes %>">
    <%= yield %>
    <%= javascript_include_tag "communityHeader" %>
    <%= javascript_include_tag "jquery-3.2.0.min" %>
    <%= javascript_include_tag "favico.js" %>
    <%= javascript_include_tag "site" %>
  </body>
</html>
