%section.introduction.pos-rel.z-10.text-center.fill-white
  .spacer120
  .container
    %header.col-md-8.col-md-offset-2.text-center
      %h2 CSS is Awesome

    .inline.spacer24

    .row.col-md-10.col-md-offset-1
      %p CSS is one of the most stable and powerful languages of our era. It runs in every browser and is the perfect candidate for an offline search engine.

    .inline.spacer40
    .col-md-12
      .col-md-4.card
        %a{:href => "#offline"}
          %figure
            = inline_svg "illustrations/offline_illustration.svg"
            .spacer24
          %h3 Works offline

      .col-md-4.card
        %a{:href => "#nojavascript"}
          %figure
            = inline_svg "illustrations/nojs_illustration.svg"
            .spacer24
          %h3 No JavaScript

      .col-md-4.card
        %a{:href => "#flexbox"}
          %figure
            = inline_svg "illustrations/flexbox_illustration.svg"
            .spacer24
          %h3 Flexbox!

  .spacer120


%section.demo.gradient-purple.pos-rel.z-10.h600
  .spacer40.inline
  .container.hfull.text-center
    %a.btn.btn-static-secondary.btn-static-shadow-dark.pos-rel.z-10{:href => "./demo"}
      Live demo
      %i.icon.icon-arrow-right
    .col-md-10.col-md-offset-1.pos-abt.hfull.pos-rel
      %a{:href => "./demo"}
        = inline_svg "browser.svg", "m100p"


%section.features
  .spacer120
  .container
    %header.text-center
      %h2 Packed with features
    .spacer120
    .row#offline
      .col-md-6.text-center.m100p
        %figure
          = inline_svg "illustrations/offline_illustration.svg"

      .col-md-6
        %h3.bold Offline mode
        %p
          This is the first API Client in history that does not make any call to an actual API.
          As long as you've downloaded the initial CSS file, you can search even without an internet connection.
          That's what we call Offline Search!

    .spacer120
    .row#nojavascript
      .col-md-6.text-center.m100p.visible-xs
        %figure
          = inline_svg "illustrations/nojs_illustration.svg"

      .col-md-6
        %h3.bold No JavaScript needed
        %p
          Stop wasting time wondering if you should put your CSS inside your JS or in a separate file.
          CSS is so powerful that you won't be needing JavaScript anymore. That's right, we decided to get rid of JavaScript altogether.
      .col-md-6.text-center.m100p.hidden-xs
        %figure
          = inline_svg "illustrations/nojs_illustration.svg"


    .spacer120
    .row#flexbox
      .col-md-6.text-center.m100p
        %figure
          = inline_svg "illustrations/flexbox_illustration.svg"

      .col-md-6
        %h3.bold Flexbox
        %p
          What would CSS be without flexbox? Flexbox is the best thing that happened to the web since the <code>blink</code> tag.
          With it you can solve one of the most complex tech challenges: vertically centering any element! With such power, building a search engine was a breeze.



%section.quotes
  .spacer120
  .spacer40
  .container.pos-rel.z-10
    %header.text-center
      %h2 What are others saying
    .spacer80
    .col-md-12
      .col-md-6
        .quote.text-center
          %p
            What was I thinking putting CSS in JS? I see now that building pure-CSS apps is the future!
          %small
            %img{:src => "./images/quotes/vjeux.png", :alt => ""}/
             Christopher Chedeau -
            %a{:href => "https://facebook.com"} Facebook
      .col-md-6
        .quote.text-center
          %p
            The only thing better than a static website is a static search engine.
          %small
            %img{:src => "./images/quotes/smashing.jpg", :alt => ""}/
             Vitaly Friedman -
            %a{:href => "https://www.smashingmagazine.com/"} SmashingMagazine

      .inline.spacer80.hidden-xs
      .col-md-6
        .quote.text-center
          %p
            Javascript is dead.
          %small
            %img{:src => "./images/quotes/chris.png", :alt => ""}/
             Chris Coyier -
            %a{:href => "https://css-tricks.com/"} CSS-Tricks
      .col-md-6
        .quote.text-center
          %p
            This is the best thing that happened since sliced bread.
          %small
            %img{:src => "./images/quotes/porteneuve.jpg", :alt => ""}/
             Christophe Porteneuve -
            %a{:href => "https://twitter.com/porteneuve"} On Twitter

      .inline.spacer80.hidden-xs
      .col-md-6
        .quote.text-center
          %p
            With Algolia, we can finally deliver an entire search experience inside of your inbox.
          %small
            %img{:src => "./images/quotes/nicolas.jpg", :alt => ""}/
             Nicolas Garnier -
            %a{:href => "https://www.mailjet.com/"} Mailjet
      .col-md-6
        .quote.text-center
          %p
            Given the success of this project, we’re now eagerly awaiting Algolia’s CSS Popup and CSS Ad Tracking APIs.
          %small
            %img{:src => "./images/quotes/sacha.png", :alt => ""}/
             Sacha Greif -
            %a{:href => "http://stateofjs.com/"} State Of Javascript

  .spacer120.inline.hidden-xs


.cta-free-trial
  .container
    .row
      .col-md-6
        %h3 You read that far? Congrats!
        %p As you might have guessed, this CSS API Client is a joke, but our hosted search API is very real.

        Instant and relevant results from the first keystroke, that's what we do. Want to give it a try?
        Why not try our forever-free Community plan?
      .col-md-6
        .spacer80
        %a.btn.btn-static-dark{:href => "https://www.algolia.com/users/sign_up"}
          Try our real API for free!
          %i.icon.icon-arrow-right
