%section.introduction.pos-rel.z-10.text-center.fill-white
  .spacer120
  .container
    %header.col-md-8.col-md-offset-2.text-center
      %h2 Algolia + CSS = ðŸ˜

    .inline.spacer24

    .row.col-md-10.col-md-offset-1
      %p CSS is the most stable and powerful language of our era. It works across all browsers and it even works offline. As a company that seeks to be accessible to all developers no matter their stack, Algolia is proud to be the first API company to release a pure CSS API Client.

    .inline.spacer40
    .col-md-12
      .col-md-4.card.pos-rel.z-100
        %a{:href => "#offline"}
          %figure
            = image_tag "illustrations/offline_illustration.svg"
            .spacer24
          %h3 Works offline

      .col-md-4.card.pos-rel.z-100
        %a{:href => "#nojavascript"}
          %figure
            = image_tag "illustrations/nojs_illustration.svg"
            .spacer24
          %h3 No JavaScript

      .col-md-4.card.pos-rel.z-100
        %a{:href => "#flexbox"}
          %figure
            = image_tag "illustrations/flexbox_illustration.svg"
            .spacer24
          %h3 Flexbox!
    .spacer80


%section.demo.pos-rel.h600
  .spacer40.inline
  .container.hfull.text-center.pos-rel.z-10
    %a.btn.btn-static-secondary.btn-static-shadow-dark.pos-rel.z-100{:href => "./demo"}
      Try it live!Â 
      %i.icon.icon-arrow-right
    .col-md-10.col-md-offset-1.pos-abt.hfull.pos-rel
      %a{:href => "./demo"}
        = inline_svg "browser2.svg", "m100p"


%section.features
  .spacer120
  .container
    %header.text-center
      %h2 The power of CSS
    .spacer120
    .row#offline
      .col-md-6.text-center.m100p
        %figure
          = image_tag "illustrations/offline_illustration.svg"

      .col-md-6
        %h3.bold Offline mode
        %p
          Imagine an API Client that doesn't need to make API calls. As long as you've downloaded the initial CSS file,
          you can search even without an internet connection. That's what we call Offline Search!




    .row#nojavascript
      .col-md-6.text-center.m100p.visible-xs
        %figure
          = image_tag "illustrations/nojs_illustration.svg"

      .col-md-6
        %h3.bold No JavaScript needed
        %p
          Stop wasting time wondering if you should put your CSS inside your JS or in a separate file.
          CSS is so powerful that you won't be needing JavaScript anymore. That's right, we decided to get rid of JavaScript altogether.
      .col-md-6.text-center.m100p.hidden-xs
        %figure
          = image_tag "illustrations/nojs_illustration.svg"


    .row#flexbox
      .col-md-6.text-center.m100p
        %figure
          = image_tag "illustrations/flexbox_illustration.svg"

      .col-md-6
        %h3.bold Flexbox
        %p
          What would CSS be without flexbox? Flexbox is the best thing that happened to the web since the <code>blink</code> tag.
          With it you can solve one of the most complex tech challenges: vertically centering any element! With such power, building a search engine was a breeze.



%section.quotes
  .spacer120
  .spacer40
  .container.pos-rel.z-10
    %header.text-center
      %h2 Beta tester feedback is unanimous
      %p.center Quotes used with permission
    .spacer80
    .spacer16
    .col-md-12
      .col-md-6
        %a.btn.btn-static-secondary.btn-static-shadow-dark.tweet-it{:href => "https://twitter.com/intent/tweet?text=%E2%80%9CWhat%20was%20I%20thinking%20putting%20CSS%20in%20JS%3F%20I%20see%20now%20that%20building%20pure-CSS%20apps%20is%20the%20future!%E2%80%9D%20%40vJeux%20https%3A%2F%2Fwww.algolia.com%2Fcss%20%23AlgoliaCSS", :target => "blank", :rel => "noopener noreferrer"}
          Tweet it
          %i.icon.icon-twitter
        .quote.text-center
          %p
            What was I thinking putting CSS in JS? I see now that building pure-CSS apps is the future!
        %small.text-center
          %img{:src => "./images/quotes/vjeux.png", :alt => ""}/
          %a{:href => "https://twitter.com/Vjeux"} Christopher Chedeau
          %span - Facebook
      .col-md-6
        %a.btn.btn-static-secondary.btn-static-shadow-dark.tweet-it{:href => "https://twitter.com/intent/tweet?text=%E2%80%9CThe%20only%20thing%20better%20than%20a%20static%20website%20is%20a%20static%20search%20engine.%E2%80%9D%20%40smashingmag%20https%3A%2F%2Fwww.algolia.com%2Fcss%20%23AlgoliaCSS%0A", :target => "blank", :rel => "noopener noreferrer"}
          Tweet it
          %i.icon.icon-twitter
        .quote.text-center
          %p
            The only thing better than a static website is a static search engine.
        %small.text-center
          %img{:src => "./images/quotes/smashing.jpg", :alt => ""}/
          %a{:href => "https://twitter.com/smashingmag"} Vitaly Friedman
          %span - SmashingMagazine

      .inline.spacer80.hidden-xs
      .col-md-6
        %a.btn.btn-static-secondary.btn-static-shadow-dark.tweet-it.one-line{:href => "https://twitter.com/intent/tweet?text=%E2%80%9CJavascript%20is%20dead.%E2%80%9D%20%40chriscoyier%20https%3A%2F%2Fwww.algolia.com%2Fcss%20%23AlgoliaCSS", :target => "blank", :rel => "noopener noreferrer"}
          Tweet it
          %i.icon.icon-twitter
        .quote.text-center
          %p
            Javascript is dead.
        %small.text-center
          %img{:src => "./images/quotes/chris.png", :alt => ""}/
          %a{:href => "https://twitter.com/chriscoyier"} Chris Coyier
          %span - CSS-Tricks
      .col-md-6
        %a.btn.btn-static-secondary.btn-static-shadow-dark.tweet-it.one-line{:href => "https://twitter.com/intent/tweet?text=%E2%80%9CThis%20is%20the%20best%20thing%20that%20happened%20since%20sliced%20bread.%E2%80%9D%20%40porteneuve%20https%3A%2F%2Fwww.algolia.com%2Fcss%20%23AlgoliaCSS", :target => "blank", :rel => "noopener noreferrer"}
          Tweet it
          %i.icon.icon-twitter
        .quote.text-center
          %p
            This is the best thing that happened since sliced bread.
        %small.text-center
          %img{:src => "./images/quotes/porteneuve.jpg", :alt => ""}/
          %a{:href => "https://twitter.com/porteneuve"} Christophe Porteneuve
          %span - Delicious Insights

      .inline.spacer80.hidden-xs
      .col-md-6
        %a.btn.btn-static-secondary.btn-static-shadow-dark.tweet-it{:href => "https://twitter.com/intent/tweet?text=%E2%80%9CWith%20Algolia%2C%20we%20can%20finally%20deliver%20an%20entire%20search%20experience%20inside%20of%20your%20inbox.%E2%80%9D%20%40Nico_g%20https%3A%2F%2Fwww.algolia.com%2Fcss%20%23AlgoliaCSS%0A", :target => "blank", :rel => "noopener noreferrer"}
          Tweet it
          %i.icon.icon-twitter
        .quote.text-center
          %p
            With Algolia, we can finally deliver an entire search experience inside of your inbox.
        %small.text-center
          %img{:src => "./images/quotes/nicolas.jpg", :alt => ""}/
          %a{:href => "https://twitter.com/Nico_g"} Nicolas Garnier
          %span - Mailjet
      .col-md-6
        %a.btn.btn-static-secondary.btn-static-shadow-dark.tweet-it.one-line{:href => "https://twitter.com/intent/tweet?text=%221993-2017%3A%20The%20Era%20of%20JavaScript%20is%20Over.%E2%80%9D%20%40SachaGreif%20https%3A%2F%2Fwww.algolia.com%2Fcss%20%23AlgoliaCSS", :target => "blank", :rel => "noopener noreferrer"}
          Tweet it
          %i.icon.icon-twitter
        .quote.text-center
          %p
            1993-2017: The Era of JavaScript is Over.

            .spacer32
        %small.text-center
          %img{:src => "./images/quotes/sacha.png", :alt => ""}/
          %a{:href => "https://twitter.com/SachaGreif"} Sacha Greif
          %span - State Of Javascript

  .spacer120.inline.hidden-xs


.cta-free-trial
  .container
    .row
      .text-center.m-l-r-auto.pull-none
        %small You read that far?
        %h3 Congratulations!
        .spacer24
        %p
          Our CSS API Client is not completely ready just yet...
        %p Why don't you try one of our other API Clients instead?
        .spacer40
        %a.btn.btn-static-dark.btn-static-shadow-dark{:href => "https://www.algolia.com/users/sign_up?utm_medium=social-owned&utm_source=algoliasearch-css-client&utm_campaign=homepage"}
          Try our forever-free Community plan
          %i.icon.icon-arrow-right
        Â 
        %a.btn.btn-static-secondary.btn-static-shadow-dark.fill-white.color-algolia-blue{:href => "https://twitter.com/intent/tweet?text=The%20power%20of%20Algolia%20distilled%20into%20a%20single%20.css%20file%20%E2%9A%A1%EF%B8%8F%20via%20%40algolia%20%23algoliaCSSClient%20www.algolia.com%2Fcss", :target => "blank", :rel => "noopener noreferrer"}
          Tweet the love!
          %i.icon.icon-twitter


=image_tag "favicon-troll.png", class: "hidden", id: "trollface"
